.blue_box {
    background-color: blue;
    color: white;
    padding: 10px 5px;
    display: block;
    float: center;
    text-align: center;
}
.blue_box span {
    background-color: blue;
    color: white;
    padding: 10px 5px;
    display: block;
    float: right;
}

.form-status-box {
    padding: 10px;
    background-color: rgb(111, 223, 107);
    color: white;
    border: 1px solid red;
}

.status-label-name{
    font-family: 'Times New Roman', Times, serif;
    size: 10cm;

}
.status-label-date{

}
.status-label-text{
    text-align: center;
}