.askQuestion-form {

    border: 0 solid #ffffff;
    box-shadow: 6px 6px 13px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 6px 13px 3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 6px 6px 13px 3px rgba(0, 0, 0, 0.75);
    margin-top: 2vh;
    padding: 20px 15px;
    border-radius: 25px
  }