.navBar-Item {
 border: 1px solid black;
}
.container-nav-bar1 {
	height: 100%;
    min-height: 100%;
	display: flex;
    flex-direction: column;
}
.box-nav-bar1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navBar-item-1:hover {
    background: rgb(178, 219, 226);
    width: 100%;
}