.login-form {

  border: 0 solid #ffffff;
  box-shadow: 6px 6px 24px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 24px 6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 6px 24px 6px rgba(0, 0, 0, 0.75);
  margin-top: 20vh;
  padding: 40px 50px;
}

.LoginForm-checkbox label {
  color: #f2f2f2;
  font-weight: 600;
}

.createAccount a {
  color: rgb(19, 169, 214);
  float: right !important;
  font-weight: bold;
}

.forgotPassword a {
  color: rgb(19, 169, 214);
  float: left !important;
  font-weight: bold;
}

.forgotPassword a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.createAccount a:hover {
  cursor: pointer;
  text-decoration: underline;
}