.registerForm-signIn a {
    color: rgb(19, 169, 214);
    float: right !important;
    font-weight: bold;
  }

  .registerForm-signIn a:hover {
    cursor: pointer;
    text-decoration: underline;
  }