.register-form {

  border: 0 solid #ffffff;
  box-shadow: 6px 6px 24px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 24px 6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 6px 24px 6px rgba(0, 0, 0, 0.75);
  margin-top: 10vh;
  padding: 40px 50px;
}

.registerForm-group {
  width: 100%;
}

.btn-for-reg {
  font-size: 20px;
  border: none;
}

.btn-for-reg:hover {
  font-size: 20px;
}

.radioButtons {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-decoration: none !important;
  font-size: 17px;
  cursor: pointer;
  color: floralwhite;
}